In [1]:
import pandas as pd

In [82]:
sales = {'weekday' : ['Sun', 'Mon', 'Mon', 'Sun', 'Tue', 'Sun', 'Tue'],
         'bread' : [120, 234, 100, 260, 421, 223, 322],
         'butter' : [20, 24, 90, 60, 53, 89, 76]
}
df = pd.DataFrame(sales)

In [83]:
df

  weekday  bread  butter
0     Sun    120      20
1     Mon    234      24
2     Mon    100      90
3     Sun    260      60
4     Tue    421      53
5     Sun    223      89
6     Tue    322      76

In [84]:
df_grouped = df.groupby(['weekday']) #Grouping by weekday
df_grouped.groups

{'Mon': Int64Index([1, 2], dtype='int64'),
 'Sun': Int64Index([0, 3, 5], dtype='int64'),
 'Tue': Int64Index([4, 6], dtype='int64')}

In [89]:
condition = (df['weekday'] == 'Sun').map({True:'Sunday', False:'Not a Sunday'}) #Grouping by a condition
df.groupby(condition).groups

{'Not a Sunday': Int64Index([1, 2, 4, 6], dtype='int64'),
 'Sunday': Int64Index([0, 3, 5], dtype='int64')}

In [85]:
for name,group in df_grouped:    #Interating through the groups
    print(name)
    print(group)
    print('\n')

Mon
  weekday  bread  butter
1     Mon    234      24
2     Mon    100      90


Sun
  weekday  bread  butter
0     Sun    120      20
3     Sun    260      60
5     Sun    223      89


Tue
  weekday  bread  butter
4     Tue    421      53
6     Tue    322      76